<%- include('../partials/inventoryHeader'); -%>

<div class="container-fluid">
	<div class="row justify-content-center align-items-center">
		<div class="col-sm-12 col-md-8 my-5">
			<div class="card">
				<h2 class="card-header ultraviolet-gradient text-center headerPadding"></h2>
				<div class="card-body px-lg-5 pt-0">
					<div class="itemImg text-center">
						<img src="<%= item.image %>" alt="An image of the current item" class="imgShadow" />
					</div>
					<form action="/inventory/<%= item._id %>?_method=PUT" method="POST">
						<div class="cForm">
							<input class="form-control" type="text" name="item[name]" id="name" value="<%= item.name %>" required />
							<label class="form-control-placeholder" for="name">Item Name</label>
						</div>
						<div class="cForm">
							<input type="number" class="form-control" name="item[quantity]" id="quantity" value="<%= item.quantity %>" step="1" min="0" max="10" pattern="\d*" required />
							<label class="form-control-placeholder" for="quantity">Current Quantity</label>
						</div>
						<div class="cForm">
							<select name="item[category]" id="category" class="form-control" required>
								<option value="<%= item.category %>"><%= item.category %></option>
								<option value="Balloon">Balloon</option>
								<option value="Graphic">Graphic</option>
								<option value="Letter">Letter</option>
								<option value="Number">Number</option>
								<option value="Star">Star</option>
							</select>
							<label class="form-control-placeholder" for="category">Category</label>
						</div>
						<div class="cForm">
							<input class="form-control" type="text" name="item[tag]" id="tag" value="<%= item.tag %>" required />
							<label class="form-control-placeholder" for="tag">Tags (separated by commas)</label>
						</div>
						<div class="cForm">
							<input class="form-control" type="text" name="item[image]" id="image" value="<%= item.image %>" />
							<label class="form-control-placeholder" for="image">Image URL</label>
						</div>
						<div class="cForm">
							<textarea class="form-control mod-textarea" name="item[description]" id="description" rows="5"><%= item.description %></textarea>
						</div>
						<div class="cForm">
							<button class="btn btn-lg btn-outline-dark btn-block">Update</button>
						</div>
					</form>
						<div class="cForm">
						<form action="/inventory/<%= item._id %>?_method=DELETE" method="POST">
							<button class="btn btn-lg btn-outline-danger btn-block">Delete</button>
						</form>
							</div>
					<a href="/inventory">Go Back</a>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include('../partials/footer'); -%>