<%- include('../partials/inventoryHeader'); -%>

<div class="container-fluid">
	<div class="row justify-content-center mt-3 mb-0">
		<div class="col-10">
			<form action="/inventory" method="GET" class="sForm">
					<input class="form-control" type="search" name="search" id="search" placeholder="Tags Search" required />
					<button type="submit"><i class="fas fa-search"></i></button>
			</form>
		</div>
		<div class="col-2 px-0 text-center">
			<a class="btn border-0 stPat-gradient mt-3 py-2 px-3" href="/inventory/new" role="button">
				<i class="fas fa-plus"></i
			></a>
		</div>
		</div>
	<div class="row custom-grid mt-3">
		<% items.reverse().forEach(function(item){ %>
			<div class="item-card">
				<div class="view view-overlay">
					<img class="card-img-top" src="<%= item.image %>" />
				</div>
				<div class="item-body text-center">
					<h4 class="card-title">
						<%= item.name %>
					</h4>
					<%if (item.quantity === 0) { %>
					<p class="quantity dangerText justify-content-end">
						<%= item.quantity %> available
					</p>
					<% } else if (item.quantity <= 2) { %>
					<p class="quantity warningText justify-content-end">
						<%= item.quantity %> available
					</p>
					<% } else { %>
					<p class="quantity justify-content-end">
						<%= item.quantity %> available
					</p>
					<% } %>
					<p class="card-text">
						<i class="fas fa-tag"></i>
						<%= item.tag %>
					</p>
				</div>
				<div class="card-footer text-center">
					<a class="btn edit-btn" href="/inventory/<%= item._id %>/edit" role="button">
						Edit Item
					</a>
				</div>
			</div>
		<% }); %>
	</div>
</div>

<%- include('../partials/footer'); -%>