<%- include('../partials/inventoryHeader'); -%>

<div class="container-fluid">
	<div class="row justify-content-center">
		<a class="btn border-0 shampoo-gradient mt-4 py-2" href="/inventory/new" role="button">
			<i class="fas fa-pencil-alt"></i> Add New Item</a>
	</div>

	<div class="row">
		<% items.reverse().forEach(function(item){ %>
		<div class="col-6 col-md-4 col-lg-2 col-xl-1">
			<div class="item-card card-overlay slender mb-1">
				<div class="view view-overlay">
					<img class="card-img-top" src="<%= item.image %>" />
				</div>
				<div class="item-body text-center">
					<h4 class="card-title">
						<%= item.name %>
					</h4>
					<p class="quantity justify-content-end">
						<%= item.quantity %> available
					</p>
					<p class="card-text">
						<i class="fas fa-tag"></i>
						<%= item.tag %>
					</p>
				</div>
				<div class="card-footer text-muted text-center">
					<a class="btn edit-btn" href="/inventory/<%= item._id %>/edit" role="button">
						Edit Item
					</a>
				</div>
			</div>
		</div>
		<% }); %>
	</div>
</div>

<%- include('../partials/footer'); -%>